{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ;; Compojure -> A basic routing library
        compojure/compojure {:mvn/version "1.6.2"}
        ;; http-kit -> Our Http library for client/server
        http-kit/http-kit {:mvn/version "2.3.0"}
        ;; Ring defaults -> For query params
        ring/ring-defaults {:mvn/version "0.3.2"}
        ;; Clojure data.JSON library
        org.clojure/data.json {:mvn/version "2.4.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "snorlax.api-playground"]}
  :run-x {:ns-default snorlax.api-playground
          :exec-fn -main
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
         :exec-fn cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "api-playground.jar"
                        :main-class "snorlax.api-playground"
                        :sync-pom true}}}}
